body {
  margin: 0;
}

.main {
  margin: 0 8%;
}

nav {
  background-color: #68c9fa;
}

.sidebar-content {
  margin: 0 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  width: 100%;
}

.menu-content {
  padding: 0;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-items p {
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo a {
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  color: #222222;
}

.menu-items .item a,
li {
  text-decoration: none;
  list-style: none;
  padding: 8px 12px;
}

.btn-keluar a {
  color: white;
  background-color: crimson;
}

.input-form {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
}

form label {
  width: 100%;
}

form input {
  padding: 12px;
  margin: 8px 0;
}

.button-add {
  padding: 12px 20px;
  border: none;
  background-color: rgb(29, 102, 247);
  color: white;
  margin: 12px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 50px auto;
}

.table-head {
  font-weight: 700;
}

.table-body th {
  color: #222222;
  font-weight: 400;
}

td,
th {
  padding: 10px;
  border: 1px solid #000000;
  text-align: left;
  font-size: 12px;
  max-width: 40px;
}

th a {
  text-decoration: none;
  padding: 4px 8px;
  color: white;
}

.read {
  background-color: rgb(29, 102, 247);
}

.update {
  background-color: green;
}

.delete {
  background-color: crimson;
}
